.App .header {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 900px;
  height: 412px;
  background-image: url(./BackgroundImage.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.App .header h1 {
  color: white;
  font-family: "Gwendolyn", sans-serif;
  font-weight: 500;
  font-size: 100px;
}
.App .header p {
  color: white;
  font-size: 20px;
}
