.App header {
  background-image: url(./BackgroundImage.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  display: block;
  height: 412px;
  margin: 2px auto;
  max-width: 900px;
}
.App h1 {
  color: white;
  font-family: "Gwendolyn", sans-serif;
  font-weight: 500;
  font-size: 100px;
  padding-top: 65px;
}
.App h2 {
  color: white;
  font-weight: 300;
}
.App a {
  color: #6cb9c1;
  text-decoration: none;
}
@media (max-width: 600px) {
  .App h1 {
    font-size: 75px;
  }
  .App h2 {
    font-size: 24px;
  }
}
@media (max-width: 900px) {
  .App header {
    margin: 7px;
  }
}
